@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* LettuceMeet Inspired Palette */
  --lm-green-light: #469e76; /* Main brand color */
  --lm-green-dark: #3a8562;
  --lm-bg-cream: #FFFDF9; /* Slightly warm background */
  --lm-text-dark: #4a4a4a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), Arial, Helvetica, sans-serif;
  letter-spacing: -0.02em; /* Tighter tracking for Quicksand */
}
